#cloud-config

debug: True

package_update: true
package_upgrade: true

users:
  - name: "bubble"
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh-authorized-keys:
      - ${ssh_key}
    groups: [users, admin]
    shell: /bin/bash

runcmd:
  - sed -i '$ a\AllowUsers bubble' /etc/ssh/sshd_config
